<app-navbar>
  Memorial Sales
</app-navbar>

<main class="container mt-4">
  <h4 class="display-6 h4 text-center">
    Olá, meu nome é Severino Sales
  </h4>
  <div class="row row-col-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3">
    <div class="col">
      <app-card src="../../../assets/pai-1.jpeg" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-2.JPG" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-3.JPG" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-4.JPG" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-5.png" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-6.png" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-7.jpeg" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-8.jpeg" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-9.png" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-10.jpeg" (click-card)="openModalImage()"></app-card>
    </div>
    <div class="col">
      <app-card src="../../../assets/pai-11.jpeg" (click-card)="openModalImage()"></app-card>
    </div>
    <!-- <div class="col" *ngFor="let src of images">
      <app-card src="src"></app-card>
    </div> -->
  </div>
</main>
